[submodule "design"]
	path = design
	url = https://github.com/fixpoint-linux/design.git
[submodule "mfe-framework"]
	path = mfe-framework
	url = https://github.com/fixpoint-linux/mfe-framework.git
[submodule "dhake"]
	path = dhake
	url = https://github.com/fixpoint-linux/dhake.git
